
@import url('https://fonts.googleapis.com/css?family=Roboto');




#itempath{

    
    padding-left: 2cm;
    padding-right:cm ;
    padding-top:1cm ;
    padding-bottom: ;
    margin-top: ;
    margin-bottom: ;
    margin-left: ;
    margin-right: 21cm;
    

}

#pathonly{
    word-spacing: 1px;
    color: rgb(96, 97, 99);
}
#realitem{
    font-size: 17px;
    color: black;
    padding-left: cm;
    padding-right:cm ;
    padding-top:cm ;
    padding-bottom: ;
    margin-top:-0.56cm ;
    margin-bottom: ;
    margin-left: 7.2cm;
    margin-right: -1cm;
    font-weight: 500;

}






